.NavBar {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 35px;
}

.navTab {
    width: 34%;
    border: 1px solid #FD3535;
    background-color: white;
    color: #FD3535;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navTab:first-child {
    width: 33%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

.navTab:last-child {
    width: 33%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.navTab h1 {
    font-size: 14px;
}

.navTab:active {
    color: white;
    background-color: #FD3535;
}

.BusinessCard {
    height: 100px;
    background-color: #F6F5F5;
}