.NavBar {
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    width: 85vw;
    height: 35px;
    margin-bottom: 50px;
}

.navTab {
    width: 34%;
    border: 1px solid #FD3535;
    background-color: white;
    color: #FD3535;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navTab:first-child {
    width: 33%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
}

.navTab:last-child {
    width: 33%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left: none;
}

.navTab h1 {
    font-size: 14px;
}

.navTab:active {
    color: white;
    background-color: #FD3535;
}

.cardRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BusinessCard {
    height: 240px;
    width: 175px;
    background-color: #F6F5F5;
    border-radius: 5px;
    border-bottom: 1px solid #4d4d4d;
}

.BusinessCard img {
    border-radius: 5px 5px 0 0;
    height: 65%;
    width: 100%;
}

.BusinessCard h1 {
    font-size: 12px;
    text-align: left;
}

.BusinessCard p {
    font-size: 10px;
    text-align: left;
}

.BusinessCard:hover {
    cursor: pointer;
}

.cardText {
    color:#FD3535;
    padding: 7.5px;
    padding-top: 0px;
}